/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

/* responsive breakpoints */
$bp-xlg:1440px;
$bp-lg:1140px;
$bp-md:960px;
$bp-sm:768px;
$bp-xs:480px;
$bp-xxs:400px;

$offset-1:10px;
$offset-g1:15px;
$offset-2:20px;
$offset-g2:30px;

$color_bg-body: #fff;
$color_bg-content: #fff;
$color_hdr-nav:#999;
$color_hdr-nav-hover:#000;
$color_hdr-nav-active:#000;
$color_button-text: #999;
$color_button-border: #ddd;
$color_button-border-hover: #000;
$font-size_button:12px;
$font-size_button-line-height:12px;

/* Mixins */
@mixin box-shadow($inset:true) {
  @if $inset {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  } @else {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    transition:none;
  }
}

@mixin navbar-dd-box-shadow(){
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
/* (END) Mixins */

body {
	background:$color_bg-body;

	#main {
		background:$color_bg-body;
		
		section.container-wrap {
			background:$color_bg-content;
		}
	}
	
}


.template-page, .sidebar {
    padding-top: $offset-2;
    padding-bottom: 40px;
    min-height: 1px;
}

.g_btn-base {
	font-size:$font-size_button;	
	text-transform:uppercase;
	line-height:$font-size_button;
	color:$color_button-text;
    font-weight:bold;
    padding: $offset-1 $offset-g1;

    > span {
       font-size:$font-size_button;	
        text-transform:uppercase;
        line-height:$font-size_button;
        color:$color_button-text;
        font-weight:bold;
    }
}

.g_btn-base-border {
	@extend .g_btn-base;
	border:1px solid $color_button-border;	
	
	&:hover {
		border-color:$color_button-border-hover;
	}
}

.no-touch .tg-dropdown-item,
.tg-dropdown-item,
.tg-dropdown-item.tg-filter.tg-show-filter {
    @extend .btn-base;
    cursor: pointer;
    text-align: left;
    font-weight: normal;
}


/* The Grid */

/* .tg-filters-holder */
.tg-filters-holder {
	.tg-filter.tg-nav-font {
		margin:0;
		
		> span.tg-nav-font {
			@extend .g_btn-base;		
		}

		&.tg-filter-active {
			position:relative;
			padding:0;
	
			&:before {
				content: "";
				position: absolute;
				width: 60%;
				height: 1px;
				bottom:0px;
				left: 20%;
				border-bottom: 2px solid black;  
			}
		}
	}

	.tg-dropdown-holder {
		min-width:140px;
		@extend .g_btn-base-border;
		margin: 0;
        text-align:center;
        border-color:white !important;

        &:hover {
            > span,
            > i {
                color:black !important;
            }
        }
	
		> .tg-nav-font {		
			font-size:inherit;
			line-height:inherit;
			padding:0;
		}
		
	}
}
.no-touch .tg-dropdown-item,
.tg-dropdown-item,
.tg-dropdown-item.tg-filter.tg-show-filter {
    @extend .g_btn-base;
    color:$color_hdr-nav;
    background:white;

    &:hover,
    &:active {
        color:$color_hdr-nav-hover;
    }
}
/* (END) .tg-filters-holder */

.tg-ajax-button {
	@extend .g_btn-base-border;
}

.tg-grid-holder {
    margin-top: $offset-2;
    margin-bottom: $offset-2;
}

/* (END) the grid */

.logo img {
	height:60px;
	width:auto;
}

.navbar {
    .kleo-main-header {
		.container .navbar-collapse.in {
			-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);
            -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);
            box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);
		}
		
        .nav > li {        
            &.active > a {
                box-shadow: none;
            }
        }

        ul.navbar-nav {
            /* underline on header nav active */

            > li {
                > a {
                    color:$color_hdr-nav;
                    
                    > span.caret:before {
                        color:$color_hdr-nav;
                    }

                    &:hover {
                        color:$color_hdr-nav-active;

                         span.caret:before {
                            color:$color_hdr-nav-active;
                        }
                    }

                    > span.caret:hover:after {
                        color:$color_hdr-nav-active;
                    }
                }

                &.active {
                    > a {
                        color:$color_hdr-nav-active;

                        @media only screen and (min-width : 992px) {
                            &:before {
                                transition: all 0.5s ease;
                                content: "";
                                position: absolute;
                                width: 60%;
                                height: 1px;
                                bottom:25px;
                                left: 20%;
                                border-bottom: 2px solid black;
                            }
                        }

                    }        
                }
            }
            /* (END) li */        

            .is-sticky .kleo-main-header .navbar-nav > li.active > a:before{
                bottom: 0px;
                width:100%;
                left:0;
            }
        }
        /* (END) .kleo-main-header ul.navbar-nav */
    }
}


/* right-side */
h4 {
	text-transform:uppercase;
}
.sidebar-right .inner-content {
    padding-left: $offset-g1;
}
/* (END) right-side */

/* (END) The Grid */
@media only screen and (min-width : 992px) {

    
}


/* amAdded */
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* 0 < 480 */
@media (min-width: 481px){
	.tg-grid-area-top1 {display:block;}
    .tg-grid-area-top2 {display:none;}
}

/* 0 < 480 */
@media (max-width: $bp-xs){
	.tg-grid-area-top1 {display:none;}
    .tg-grid-area-top2 {display:block;}

    .hidden-xxs-down {display: none!important;}
    .visible-xxs-down {display: block!important;}

    // .col-xxs-12 { width: 100%; }
}

@media (min-width:401px) and (max-width: $bp-xs){
    [class*="col-xxs-"] {
      position:relative;
      min-height:1px;
      padding-right:$offset-g1;
      padding-left:$offset-g1;
      float:left;
    }
}

/* 401 - 480 */
.visible-xxs {display: none!important;}
@media screen and (min-width:401px) and (max-width: $bp-xs){
    .hidden-xxs {display: none!important;}
    .visible-xxs {display: block!important;}
}

/* 321 - 400 */
@media screen and (min-width:321px) and (max-width: 400px){
    .hidden-xxxs {display: none!important;}
    .visible-xxxs {display: block!important;}
}